<%- include('../parciales/encabezado') %>

<section class="panel">
  <h1 class="titulo"><%= titulo %></h1>
  <p><%= mensaje %></p>
  <a class="btn" href="<%= enlace %>"><%= textoEnlace %></a>
</section>

<%- include('../parciales/pie') %>
